@model SharedObjects.ViewModels.ConfigViewModel

@{
    ViewData["Title"] = "WatchDogConfig_insert";
    var Customers = ViewData["Customer"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>;
    var RouteStep = ViewData["RouteStep"] as IEnumerable<SharedObjects.ValueObjects.VRouteStep>;

}

<div class="row">
    <div class="col-md-offset-0">
        <div class="portlet light col-md-10 col-md-offset-1">
            <div class="portlet green">
                <h2 style="font:bold; text-align:center">WatchDog Configuration</h2>
            </div>
            <form id="frm-add">

                <div class="form-group col-md-3">
                    <label class="control-label">CustId</label>
                    <select class="form-control" id="txt-customer" name="customer" style="color:mediumvioletred">
                        <option value="">--Please Select--</option>
                        @foreach (var item in Customers.OrderByDescending(c => c.CustName).ToList())
                        {
                            <option value=@item.CustId>@item.CustName</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">ProcessStep</label>
                    <input id="txt-processstep" name="processstep" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">RouteStep</label>
                    <input id="txt-routestep" name="routestep" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">platform</label>
                    <select class="form-control" id="txt-platform" name="platform" style="color:mediumvioletred">
                        <option value="">--Please Select--</option>
                        <option value=1>JEMSts </option>
                        <option value=2>Jabil Test</option>
                    </select>
                </div>
                @*<div class="form-group col-md-3">
                        <label asp-for="AssyNumber" class="control-label"></label>
                        <input asp-for="AssyNumber" class="form-control" />
                        <span asp-validation-for="AssyNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="AssyRev" class="control-label"></label>
                        <input asp-for="AssyRev" class="form-control" />
                        <span asp-validation-for="AssyRev" class="text-danger"></span>
                    </div>*@
                <div class="form-group col-md-3">
                    <label class="control-label">TesterName</label>
                    <input id="txt-testername" name="testername" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">TesterPcName</label>
                    <input id="txt-testerpcname" name="testerpcname" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">EquipmentId</label>
                    <input id="txt-equipmentid" name="equipmentid" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">TestTime</label>
                    <input type="number" id="txt-testtime" name="testtime" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">trigger</label>
                    <input type="checkbox" id="txt-trigger" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="btn-add" value="Add" class="btn btn-default" />
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/config.js"></script>
} 