<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="usp_Update" value="usp_Main_Usedtimes_Update"/>-->
    <add key="sp" value="usp_Main_Update_Usedtimes"/>
    <add key="Database_Server" value="VNHCMM0MSSQLV1A"/>
    <add key="Database_Name" value="JEMS"/>
    <add key="Email" value="vui_le@jabil.com;"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=vnhcmm0teapp03;user=hcm_vui_usr;database=jtestsms;password=hcm_vui_usr"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=VNHCMC0SQL81;Database=eDowntime;User Id=eDowntime_User;Password=zKhU$~R;MultipleActiveResultSets=true;"/>
  </connectionStrings>-->
</configuration>